@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#scroll::-webkit-scrollbar{
  display: block;
  width: 5px;
}

#scroll::-webkit-scrollbar-thumb {
  background: #6366f1; 

  border-radius: 10px;
}


#scroll::-webkit-scrollbar-track {
 
  box-shadow: inset 0 0 5px grey; 
 
}